body{
    font-family: 'Open Sans', sans-serif;
}

#bg-main{
    width: 100%;
    height: 90vh;
    background: url(../img/Katarina_1880x990_01-4699.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* 
.nav-link{
    color: #E7E7E5 !important;
}

.nav-link:hover{
    color: #f9fafa !important;
} */

.header__title{
    font-size: 70px;
    color: #E7E7E5;
    padding-top: 8%;
}

.content-text{
    font-size: 13px !important;
}

.hotel-section{
    padding-top: 100px;
    padding-bottom: 250px;
}

.grey-section{
    padding-top: 100px;
    padding-bottom: 240px;
}

.white-section{
    padding-top: 100px;
    padding-bottom: 240px;
}

.content-block{
    min-height: 17rem;
}

.big-img{
    height: 27rem;
    width: 38rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.small-img_left{
    height: 15.85rem;
    width: 24.6rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 75%;
    right: 40%;
}

.book__button{
    display: flex;
    justify-content: flex-end;
}

.small-img_right{
    height: 15.85rem;
    width: 24.6rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 75%;
    left: 37%;
}

.gallery-img{
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.title__footer{
    color: #E7E7E5 !important;
    font-size: 15px !important;
}

.content-text__footer{
    color: #E7E7E5 !important;
    font-size: 13px !important;
}

@media (max-width: 991px){

    .big-img{
        height: 22rem;
        width: 38rem;
    }

    .small-img_left{
        height: 12rem;
        width: 18rem;
        top: 60%;
        right: 41%;
    }

    .small-img_right{
        height: 12rem;
        width: 18rem;
        top: 60%;
        left: 41%;
    }

    .hotel-section{
        padding-top: 60px;
        padding-bottom: 120px;
    }

    .grey-section{
        padding-bottom: 75px;
        padding-top: 75px;
    }

    .white-section{
        padding-bottom: 75px;
        padding-top: 75px;
    }

    .content-block{
        min-height: 15rem;
    }
}


@media (max-width: 767px){
    .header__title{
        font-size: 54px;
        padding-top: 10%;
    }

    .big-img{
        height: 22rem;
        width: 30rem;
    }
    
    .small-img_left{
        height: 13rem;
        width: 20rem;  
        top: 90%;
        right: 41%;  
    }

    .small-img_right{
        height: 13rem;
        width: 20rem;
        top: 90%;
        left: 41%;
    }

    .gallery-img{
        height: 70vh;
    }

    .rooms-section{
        margin-top: 150px !important;
    }

    .gallery-section{
        margin-top: 150px !important;
    }

    .hotel-section{
        padding-top: 0;
        padding-bottom: 90px;
    }
      
    .grey-section{
        padding-top: 0px;
        padding-bottom: 240px;
    }

    .white-section{
        padding-top: 0px;
        padding-bottom: 240px;
    }

    .content-text__footer{
        margin-bottom: 5px;
    }

    .content-block{
        min-height: auto;
    }
    
}

@media (max-width: 575px){

    .header__title{
        font-size: 54px;
        padding-top: 15%;
    }

    .book__button{
        justify-content: flex-start;
    }    

    .gallery-img{
        height: 60vh;
    }
}

@media (max-width: 500px){

    .big-img{
        height: 18rem;
        width: 25rem;
    }

    .small-img_left{
    right: 25%;
    }

    .small-img_right{
        left: 25%;
    }

    .gallery-img{
        height: 50vh;
    }

}

@media (max-width: 427px){

    .big-img{
        height: 14rem;
        width: 20rem;
    }

    .small-img_left{
        height: 10rem;
        width: 17rem;    
        right: 17%;
    }

    .small-img_right{
        height: 10rem;
        width: 17rem;
        left: 17%;
    }

    .gallery-img{
        height: 40vh;
    }

    .hotel-section{
        padding-bottom: 55px;
    }

    .grey-section{
        padding-bottom: 210px;
    }

    .white-section{
        padding-bottom: 210px;
    }

}

@media (max-width: 330px){

    .big-img{
        height: 12rem;
        width: 18rem;
    }

    .small-img_left{
        height: 10rem;
        width: 15rem;    
        right: 17%;
        top: 70%;
    }

    .small-img_right{
        height: 10rem;
        width: 15rem;
        left: 17%;
        top: 70%;
    }

    .hotel-section{
        padding-bottom: 20px;
    }

    .grey-section{
        padding-bottom: 160px;
    }

    .white-section{
        padding-bottom: 160px;
    }
}
